@font-face {
  font-family: fontmain;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0;
  font-family: fontmain;
  padding: 0;
  background: #ffffff;
}

ul, li {
  list-style: none;
}

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.25);
  outline: none !important;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
}

input:active, input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.header {
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
}
.header_navbar {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  background: #ffffff;
}
.header_navbar a {
  color: #000000;
}
.header_navbar .dropdown-lang button {
  position: absolute;
  top: -6px;
  border: 0;
}
.header .navigation {
  margin-top: 25px;
}
.header .navigation .navigation_button a {
  margin-right: 10px;
}
.header .navigation .navigation_button-comparisons {
  border-radius: 10px;
  background: #D0D0D0;
  color: #ffffff;
}
.header .navigation .navigation_button-like {
  border-radius: 10px;
  background: #D0D0D0;
  color: #ffffff;
}
.header .navigation .navigation_button-basket {
  border-radius: 10px;
  background: #5A6C56;
  color: #ffffff;
}
.header .navigation_search-icon {
  position: absolute;
  z-index: 9999;
  padding-top: 10px;
  padding-left: 10px;
}
.header .navigation_search input {
  background: #F3F3F3;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  position: relative;
  padding: 12px 10px 12px 40px;
}
.header .navigation_search input:active {
  border: 1px solid #D0D0D0;
}
.header .navigation_search input [placeholder] {
  color: #D0D0D0;
}
.header .navigation_menu {
  border-radius: 10px;
  border: 0;
  color: #ffffff;
  padding: 15px 45px 10px 5px;
  background: #FFB901;
}
.header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  z-index: 999999999999;
  left: 0;
  color: #000000;
  background: #D9D9D9;
  overflow-x: hidden;
  transition: 0.5s;
}
.header .sidenav_bar {
  background: #5A6C56;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
}
.header .sidenav_bar-come {
  padding-top: 25px;
  position: relative;
}
.header .sidenav_bar-come .nav a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.header .sidenav_bar-come p {
  color: #D9D9D9;
  font-size: 12px;
}
.header .sidenav_menu {
  padding-top: 25px;
}
.header .sidenav_menu-link {
  position: relative;
}
.header .sidenav_menu-link .list-group-item {
  margin-bottom: 15px;
}
.header .sidenav_menu-link .list-group-item_icon {
  background: #ffffff;
  padding: 3px;
  border-radius: 10px;
}
.header .sidenav_menu-link .list-group-item_icongreen {
  position: absolute;
  top: 10px;
}
.header .sidenav_menu-link img {
  position: absolute;
  top: 10px;
}
.header .sidenav_menu-link .default-link {
  padding-top: 15px;
}
.header .sidenav_menu-link .default-link a {
  padding: 0px 8px 8px 50px !important;
}
.header .sidenav_menu-link .active-link {
  background: #5A6C56;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  width: 300px;
}
.header .sidenav_menu-link .active-link a {
  color: #ffffff;
}
.header .sidenav_menu-link .active-link .next_menu {
  color: #ffffff;
  position: absolute;
  font-weight: 700;
  top: 13px;
  left: 270px;
  cursor: pointer;
}
.header .sidenav_menu-link li a {
  font-weight: 700px;
  padding-left: 45px;
  font-weight: 700;
}
.header .sidenav .nav_menu2-link {
  padding-left: 40px;
  font-weight: 600;
}
.header .sidenav .nav_menu2-link span {
  color: #5B5B5B;
}
.header .sidenav .nav_menu2-link ul {
  padding-left: 0px;
  padding-top: 15px;
}
.header .sidenav .nav_menu3-link {
  padding-left: 40px;
  font-weight: 700;
}
.header .sidenav .nav_menu3-link ul {
  padding-left: 0px;
  padding-top: 5px;
}
.header .sidenav .nav_menu4-social {
  background: #282828;
  color: #ffffff;
  padding: 25px 20px 10px 20px;
}
.header .sidenav .nav_menu4-social span {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 15px;
}
.header .sidenav .nav_menu4-social .nav {
  margin-top: 20px;
}
.header .sidenav .nav_menu4-social small {
  font-weight: 300;
  font-size: 8px;
  color: #D9DBE1;
  padding-left: 150px;
}
.header .sidenav a {
  padding: 8px 8px 8px 5px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  transition: 0.3s;
}
.header .sidenav a:hover {
  color: #f1f1f1;
}
.header .sidenav .closebtn {
  position: absolute;
  top: 0;
  color: #ffffff;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.header #main {
  transition: margin-left 0.5s;
  padding: 20px;
}

main .banner {
  margin-top: 40px;
}
main .banner .left_menu-category ul {
  background: #F6F6F6;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: 82%;
  padding-bottom: 5px;
  padding-top: 12px;
}
main .banner .left_menu-category .next_menu_left {
  color: #000000;
  position: absolute;
  font-weight: 700;
  top: 15px;
  left: 290px;
  cursor: pointer;
}
main .banner .left_menu-category li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
main .banner .left_menu-category .submenu {
  position: absolute;
  left: 320px;
  z-index: 2222225;
  width: 300px;
  top: -75px;
  visibility: hidden;
  opacity: 0;
  background: #F6F6F6;
  transform: translateY(10px);
  transition: 0.5s ease-in-out;
}
main .banner .left_menu-category strong {
  color: #000000;
  font-weight: 900;
}
main .banner .left_menu-category .submenu li {
  position: relative;
  background: #F6F6F6;
  padding-bottom: 10px;
  padding: 2px 5px 2px 25px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  text-align: initial;
  width: 220px !important;
  font-weight: 600;
}
main .banner .left_menu-category .submenu li:hover {
  background: #F6F6F6;
  color: #ffffff !important;
}
main .banner .left_menu-category .submenu li a {
  color: #000000;
  font-weight: 500;
}
main .banner .left_menu-category .submenu li a:hover {
  color: #5A6C56 !important;
}
main .banner .left_menu-category .submenu li .next_menu_submenu1 {
  position: absolute;
  top: 0px;
  font-weight: 700;
  top: 5px;
  left: 215px;
}
main .banner .left_menu-category .submenu .submenu {
  position: absolute;
  left: 280px;
  top: -65px;
}
main .banner .left_menu-category .submenu .submenu li {
  position: relative;
  background: #F6F6F6;
  padding-bottom: 10px;
  padding: 2px 5px 2px 5px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  text-align: left;
  font-weight: 600;
}
main .banner .left_menu-category .submenu .submenu li a {
  color: #000000;
  font-weight: 500;
}
main .banner .left_menu-category .submenu .submenu li .next_menu_submenu2 {
  position: absolute;
  top: 0px;
  font-weight: 700;
  top: 5px;
  left: 215px;
}
main .banner .left_menu-category .submenu .submenu .submenu {
  position: absolute;
  top: -40px;
  width: 300px;
}
main .banner .left_menu-category .submenu .submenu .submenu li {
  position: relative;
  background: #F6F6F6;
  padding-bottom: 10px;
  padding: 2px 5px 2px 5px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  text-align: left;
  font-weight: 600;
}
main .banner .left_menu-category .submenu .submenu .submenu li a {
  color: #000000;
  font-weight: 500;
}
main .banner .left_menu-category .submenu .submenu .submenu li .next_menu_submenu2 {
  position: absolute;
  top: 0px;
  font-weight: 700;
  top: 5px;
  left: 215px;
}
main .banner .left_menu-category .active_left {
  background: #5A6C56;
}
main .banner .left_menu-category .active_left a {
  color: #ffffff;
}
main .banner .left_menu-category li {
  background: #E3E3E3;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 320px;
  position: relative;
  padding: 15px 15px 15px 25px;
}
main .banner .left_menu-category li a {
  color: #000000;
  font-weight: 700;
}
main .mini_menu {
  padding-top: 25px;
  text-align: center;
  padding-left: 45px;
}
main .mini_menu_icon {
  width: 170px;
}
main .main_text_about {
  padding-top: 35px;
  text-align: center;
  font-size: 18px;
  color: #D0D0D0;
  line-height: 40px;
}
main .store_block {
  padding-top: 35px;
}
main .store_block h2 {
  font-weight: bold;
}
main .store_block_catalogs {
  padding-top: 30px;
  text-align: center;
  justify-content: space-between !important;
}
main .store_block .block_catalog {
  text-align: center;
  margin-bottom: 20px;
}
main .store_block .block_catalog-images {
  position: relative;
  padding-left: 22px;
}
main .store_block .block_catalog-images img {
  text-align: center;
  padding-bottom: 15px;
}
main .store_block .block_catalog-images .market_sale {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  background: #FFB901;
  padding: 0px 15px;
  box-shadow: 0px 2.95349px 5.90698px rgba(0, 0, 0, 0.1);
  border-radius: 4.43023px;
  top: 15px;
}
main .store_block .block_catalog-images .market_favorites {
  position: absolute;
  color: #ffffff;
  top: 10px;
  background: #D0D0D0;
  border-radius: 44.7857px;
  padding: 5px 8px;
  left: 180px;
  cursor: pointer;
}
main .store_block .block_catalog-images .market_favorites:hover {
  background: #FF0084;
  transition: 0.5s ease-in-out;
}
main .store_block .block_catalog-name {
  font-weight: bold;
}
main .store_block .block_catalog-article {
  color: #D0D0D0;
}
main .store_block .block_catalog-price {
  padding-top: 15px;
  font-weight: bold;
}
main .store_block .block_catalog-basket {
  padding-top: 30px;
}
main .store_block .block_catalog-basket .btn-basket {
  color: #ffffff;
  background: #5A6C56;
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;
}
main .store_block .block_catalog-basket .btn-basket:hover {
  background: #4F7942;
  transition: 0.2s ease-in-out;
}
main .new_block {
  padding-top: 66px;
}
main .new_block h2 {
  font-weight: bold;
}
main .new_block_catalogs {
  padding-top: 30px;
  justify-content: space-between !important;
}
main .new_block .block_catalog {
  text-align: center;
  margin-bottom: 25px;
}
main .new_block .block_catalog-images {
  position: relative;
  padding-left: 22px;
}
main .new_block .block_catalog-images img {
  text-align: center;
  padding-bottom: 15px;
}
main .new_block .block_catalog-images .market_sale {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  background: #FFB901;
  padding: 0px 15px;
  box-shadow: 0px 2.95349px 5.90698px rgba(0, 0, 0, 0.1);
  border-radius: 4.43023px;
  top: 15px;
}
main .new_block .block_catalog-images .market_favorites {
  position: absolute;
  color: #ffffff;
  top: 10px;
  background: #D0D0D0;
  border-radius: 44.7857px;
  padding: 5px 8px;
  left: 180px;
  cursor: pointer;
}
main .new_block .block_catalog-images .market_favorites:hover {
  background: #FF0084;
  transition: 0.5s ease-in-out;
}
main .new_block .block_catalog-name {
  font-weight: bold;
}
main .new_block .block_catalog-article {
  color: #D0D0D0;
}
main .new_block .block_catalog-price {
  padding-top: 15px;
  font-weight: bold;
}
main .new_block .block_catalog-basket {
  padding-top: 30px;
}
main .new_block .block_catalog-basket .btn-basket {
  color: #ffffff;
  background: #5A6C56;
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;
}
main .new_block .block_catalog-basket .btn-basket:hover {
  background: #4F7942;
  transition: 0.2s ease-in-out;
}
main .popular_block {
  padding-top: 66px;
}
main .popular_block h2 {
  font-weight: bold;
}
main .popular_block_catalogs {
  padding-top: 30px;
  justify-content: space-between !important;
}
main .popular_block .block_catalog {
  text-align: center;
  margin-bottom: 20px;
}
main .popular_block .block_catalog-images {
  position: relative;
  padding-left: 22px;
}
main .popular_block .block_catalog-images img {
  text-align: center;
  padding-bottom: 15px;
}
main .popular_block .block_catalog-images .market_sale {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  background: #FFB901;
  padding: 0px 15px;
  box-shadow: 0px 2.95349px 5.90698px rgba(0, 0, 0, 0.1);
  border-radius: 4.43023px;
  top: 15px;
}
main .popular_block .block_catalog-images .market_favorites {
  position: absolute;
  color: #ffffff;
  top: 10px;
  background: #D0D0D0;
  border-radius: 44.7857px;
  padding: 5px 8px;
  left: 180px;
  cursor: pointer;
}
main .popular_block .block_catalog-images .market_favorites:hover {
  background: #FF0084;
  transition: 0.5s ease-in-out;
}
main .popular_block .block_catalog-name {
  font-weight: bold;
}
main .popular_block .block_catalog-article {
  color: #D0D0D0;
}
main .popular_block .block_catalog-price {
  padding-top: 15px;
  font-weight: bold;
}
main .popular_block .block_catalog-basket {
  padding-top: 30px;
}
main .popular_block .block_catalog-basket .btn-basket {
  color: #ffffff;
  background: #5A6C56;
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;
}
main .popular_block .block_catalog-basket .btn-basket:hover {
  background: #4F7942;
  transition: 0.2s ease-in-out;
}
main .about_block {
  margin-top: 125px;
  background: #F3F3F3;
}
main .about_block .youtube {
  position: relative;
}
main .about_block .youtube .play {
  position: absolute;
  top: 30%;
  left: 50%;
}
main .about_block h1 {
  padding-top: 50px;
  font-weight: bold;
}
main .about_block-colums {
  margin-top: 65px;
}
main .about_block-colums div {
  margin-bottom: 25px;
}
main .about_block-colums .about_block-text {
  margin-top: 25px;
}
main .about_block-colums .about_block-text p {
  margin-top: 10px;
  line-height: 30px;
}
main .about_block-benefits {
  text-align: center;
}
main .about_block-benefits__text {
  margin-top: 25px;
}
main .about_block-benefits__text p {
  margin-top: 20px;
  line-height: 20px;
}
main .control_block {
  background: #F3F3F3;
  padding-top: 120px;
}
main .control_block h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
main .control_block p {
  line-height: 30px;
}
main .control_block-images {
  margin-top: 40px;
}
main .service_block {
  background: #F3F3F3;
  padding-bottom: 30px;
  padding-top: 120px;
  z-index: 5;
  position: relative;
}
main .service_block-text {
  position: relative;
  z-index: 1000;
}
main .service_block-text h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
main .service_block-suggestions {
  margin-top: 40px;
}
main .service_block-suggestions h5 {
  font-weight: bold;
}
main .service_block-suggestions_deliver {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px;
}
main .service_block-suggestions_deliver ul, main .service_block-suggestions_deliver li {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
}
main .service_block-suggestions_deliver ul span, main .service_block-suggestions_deliver li span {
  padding-right: 10px;
}
main .service_block-suggestions_pay {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px;
}
main .service_block-suggestions_pay ul, main .service_block-suggestions_pay li {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
  line-height: 30px;
}
main .service_block-suggestions_pay ul span, main .service_block-suggestions_pay li span {
  padding-right: 10px;
}
main .service_block-images {
  position: absolute;
  z-index: 2;
  background: url(../images/pic/deliver.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 332px;
  width: 552px;
  top: 160px;
  left: 60%;
}

.footer {
  position: relative;
  background: #0B0D17;
  color: #ffffff;
  padding-top: 120px;
}
.footer_about {
  margin-top: 30px;
}
.footer_socials {
  margin-top: 30px;
}
.footer_social {
  padding-right: 15px;
}
.footer_catalog ul, .footer_catalog li {
  padding: 0px;
  margin-top: 20px;
}
.footer_catalog ul a, .footer_catalog li a {
  color: #ffffff;
}
.footer_catalog ul a:hover, .footer_catalog li a:hover {
  color: #5A6C56;
}
.footer_product ul, .footer_product li {
  padding: 0px;
  margin-top: 20px;
}
.footer_product ul a, .footer_product li a {
  color: #ffffff;
}
.footer_product ul a:hover, .footer_product li a:hover {
  color: #5A6C56;
}
.footer_contact ul, .footer_contact li {
  padding: 0px;
  margin-top: 20px;
}
.footer_contact ul span, .footer_contact li span {
  padding-right: 10px;
}
.footer_contact ul a, .footer_contact li a {
  color: #ffffff;
}
.footer_contact ul a:hover, .footer_contact li a:hover {
  color: #5A6C56;
}
.footer_copy {
  margin-top: 70px;
  padding-bottom: 20px;
}
.footer_copy p {
  font-weight: 700;
}
.footer-images {
  position: absolute;
  z-index: 2;
  content: "";
  background: url(../images/cock.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 532px;
  width: 350px;
  top: 0px;
  left: 80%;
}
/*# sourceMappingURL=style.css.map */
